@import "custom";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

$base-color: #032541;
$base-font:'Source Sans Pro', sans-serif;

.navbar-base-color{
  background-color: $base-color;

}

body{
  font-family: $base-font;
}

.link-white{
  color: $white;
}

header a.logo{
  display: block;
  margin-right: 16px;
  width: 154px;
  height: 20px;
}

header a.logo img{
  display: block;
  width: 100%;
}