/*Reset CSS*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}
nav{
    width: 100%;
    margin: 0 auto;
    background-color: #01577A;
    position: sticky;
    top: 0px;

}
.conteneur-nav{
    margin: 0 auto;
    width: 70%;
}
nav input[type=checkbox]{
    display: none;
}
nav label{
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    background-color: gold;
}
nav ul{
    display: none;
    list-style-type: none;
    background-color: #555;
}
nav input[type=checkbox]:checked + ul{
    display: flex;
    flex-flow : column wrap;
}
.deroulant:first-child{
width: 6rem;
}
.deroulant:nth-child(2){
width: 10rem;
}
.sous:first-child{
    width: 15rem;
}

nav > div > ul > li > a{
    color: white;
    padding: 1rem;
}
nav a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 0px;
}
.sous{
    display: flex;
    flex-flow: column wrap;
    z-index: 1000;
}

.sous li{

    text-align: left;
    width: 100%;
}
.sous a{
    padding: 10px;
    background-color: RGBa(200,200,200,0.8);
}

@media screen and (min-width: 980px){
    .conteneur-nav{
        position: static;

    }
    nav label, nav input{
        display: none;
    }
    nav input[type=checkbox]:checked + ul, nav ul{
        display: flex;
        flex-flow: row wrap;
        background-color: #01577A;
    }
    nav ul li{
        position: relative;
    }
    nav > div > ul > li > a{
        color: #fff;
        font-weight: 600;
        padding: 1rem;
    }
    nav a{
        border-bottom: 2px solid #757575;
    }
    nav a:hover{
        border-bottom: 2px solid #757575;
    }
    .sous{
        display: none;
        box-shadow: 0px 1px 2px #CCC;
        background-color: white;
        position: absolute;
        width: 100%;
    }
    nav > div > ul li:hover .sous{
        display: flex;
        flex-flow: column wrap;
    }
    .sous a{
        border-bottom: none;
        background-color: white;
    }
    .sous a:hover{
        border-bottom: none;
        background-color: RGBa(200,200,200,0.1);
    }
}

/*index.html.twig*/
.dataPopularMovies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cards{

    width: 150px;
    min-width: 150px;
    border-radius: 0.5rem;
    margin-left: 20px;
}
.cards h2{
font-size: 1rem;
    font-weight: 700;
}
.cards .backdrop_path{
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 100%;
    min-height: calc(150px * 1.5);
    height: calc(150px * 1.5);
    background: #dbdbdb;
    overflow: hidden;
}
