{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<div class="dataPopularMovies">

{% for dataPopularMovie in dataPopularMovies %}
<div class="cards">
 <div class="dataPopularMovie">
  <div class="backdrop_path">
   <img src="https://image.tmdb.org/t/p/w220_and_h330_face/{{dataPopularMovie.backdrop_path}}" alt="backdrop_path"/>

  </div>

  <div class="title">
   <h2>{{dataPopularMovie.title}}</h2>
  </div>

  <div class="release_date">
   <time>{{dataPopularMovie.release_date}}</time>
  </div>
 </div>
</div>




{% endfor %}

</div>
{% endblock %}
