<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="navbar">
    <header>
        <nav>
            <div class="conteneur-nav">
                <label for="mobile">Afficher / Cacher le menu</label>
                <input type="checkbox" id="mobile" role="button">
                <ul>
                    <li class="deroulant"><a href="#">Films</a>
                        <ul class="sous">
                            <li><a href="#">Cours HTML et CSS</a></li>
                            <li><a href="#">Cours JavaScript</a></li>
                            <li><a href="#">Cours PHP et MySQL</a></li>
                        </ul>
                    </li>
                    <li class="deroulant"><a href="#">Émissions TV</a>
                        <ul class="sous">
                            <li><a href="#">Cours HTML et CSS</a></li>
                            <li><a href="#">Cours JavaScript</a></li>
                            <li><a href="#">Cours PHP et MySQL</a></li>
                        </ul>
                    </li>
                    <li class="deroulant"><a href="#">Artistes</a>
                        <ul class="sous">
                            <li><a href="#">Cours HTML et CSS</a></li>
                            <li><a href="#">Cours JavaScript</a></li>
                            <li><a href="#">Cours PHP et MySQL</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="conteneur-contenu">
            <p>Du contenu sous le menu</p>
        </div>
    </header>
</div>
    {% block body %}


    {% endblock %}
</body>
</html>
